.search-bar {
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-radius: 20px;
  border: 2px solid darkgray;
}


.results{
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}

button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: brown;
  border-radius: 8px;
}
