.banana-photo {
  /* height: 100px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  object-fit: cover;
  background-color: #fff; */
}

  /* height: 50vw;
  width: 50%;
  object-fit: cover;
  border-radius: 30px;
  float: right; */



.banana-heading {
  font-size: 1.2rem;
  padding: 10px 20px 0 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.banana-info {
  font-size: 1rem;
  color:rgb(70, 70, 70);
  padding-top: 5px;
  padding-left: 30px;
  font-family: serif;
}

.learn-more {
  display:block;
  width: 100%;
  padding-top: 5px;
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
}

.banana {
  border: 10px red;
}
