.banana-photo {
  height: 50vw;
  width: 50%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
}

.banana-description {
  font-family: serif;
  margin-bottom: 15px;
  font-size: 3vw
}
.banana-heading {
  font-family: sans-serif;
  margin-bottom: 5px;
}
.banana-details {
  font-family: serif;
  margin-bottom: 15px;
  font-size: 3vw;
}
.details-heading {
  font-family: sans-serif;
  margin-bottom: 5px;
}

.banana-info {
  clear: both;
}

.banana-features li {
  font-size: 14pt;
}

li {
  list-style-type: none;
}

label, input {
  display: block;
}
label {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}
input {
  font-size: 16pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
}

